/*
 * 搜索页面
 */
.d7-sousuo-mid {
	width: 100%;
	margin-top: 45px;
	position: absolute;
	top: 0;
}

.d7-sousuo-tit {
	float: left;
	width: 100%;
	padding: 0 5%;
	line-height: 45px;
	font-size: 14px;
	color: #757575;
	background: #F4F4F4;
}

.d7-sousuo-jl1 {
	float: left;
	width: 95%;
	padding: 0 5%;
	line-height: 45px;
	font-size: 14px;
	color: #757575;
	border-bottom: 1px solid #F4F4F4;
}

.d7-sousuo-jl2 {
	float: left;
	margin: 5px 3px;
	height: 25px;
	border-radius: 35px;
	background-color: #EBEBEB;
	padding: 1px 5px ;
	line-height: 25px;
	font-size: 10px;
	color: #757575;
	border-bottom: 1px solid #F4F4F4;
}
.aui-header-item-icon{
		height: 1.5rem;
		min-width: 9%;
		margin-top: 10px;
		margin-left: 5px;
		margin-right: 10px;
		background-color: #EEEEEE;
		border-radius: 35px;
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 1%;
		-ms-flex: 0 0 1%;
		flex: 0 0 1%;
		padding: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 0.3rem;
		white-space: nowrap;
		overflow: hidden;
		color: #505050;
		opacity: 0.8;
	}